doctype html
html
  head
    title= Locations
    unless debug
      link(rel='stylesheet', href='app.css')
    script(src='https://maps.googleapis.com/maps/api/js')
  body
    #app
    script(src='app.js')
