body {
  background: #fdfdfd;
}

header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  height: 40px;
  background: lightgreen;

  img {
    margin: 4px;
    width: 32px;
    height: 32px;
  }

  h1 {
    margin: 4px;
    font-weight: normal;
  }

  nav {
    flex: 1;
    text-align: right;

    .txt-search {
      display: inline-block;
      margin: 0 8px 0 0;
      max-width: 200px;
      padding: 8px;
    }

    .btn-view {
      display: inline-block;
      padding: 8px;
    }
  }
}

main {
  padding-top: 48px;
  display: flex;

  > aside {
    flex: 1 100%;
    display: flex;
    overflow: hidden;

    &.side-1 {
      flex: 1;
      padding: 8px;
    }
    &.side-2 {
      flex: 2;
      background: lightgray;
    }
  }
  // &.list > aside,
  // &.venue > aside {
  //   &.side-1 {
  //     flex: 1;
  //   }
  //   &.side-2 {
  //     flex: 2;
  //   }
  // }
  &.calendar > aside {
    &.side-1 {
      flex: 2;
    }
    &.side-2 {
      flex: 1;
    }
  }
}


